*{
    margin: 0;
    padding: 0;
  }
.img{
    width: 500px;
    height: 500px;
}
.imgText p{
    width: 500px;
    height: 188px;
}
.main h1{
    font-size: 48px;
    text-align: center;
}
.imgText{
    width: 1064px;
    margin-left:220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
